
@{
    ViewData["Title"] = "Admin ana sayfa";
}

<h1>Admin ana sayfa</h1>

<h3>
    Area - Admin 
</h3>

<p>
    Area lar uygulama içinde çalışan uygulama mantığıyla hareket eder ve admin paneli, uygulama içinde bir blog projesi vb yapmamıza yararlar.
</p>

<h3>
    Area Oluşturma - Projeye Ekleme
</h3>

<p>
    Projeye sağ tıklayıp açılan menüden Add > Scaffolded item... diyerek ekrana gelen pencereden MVC Area seçeneğini seçip ekle butonuna basıyoruz ve açılan ekranda area mıza isim(Admin, Blog vb) verip tamam diyerek oluşmasını bekliyoruz. 
</p>

<p>
    Area oluştuktan sonra ekrana gelen uyarı metnindeki kodu kopyalayıp program.cs ye area route u olarak eklememiz gerekli!
</p>

<p>
    Area altındaki çalışan tüm controllerların üstüne attribute olarak area admin kodunu eklememiz gerekiyor aksi taktirde area altındaki sayfalar açılmaz 404 not found hatası verir!
</p>

<p>
    Bir Area oluşturduktan sonra bu area için shared klasörü, layout dosyası gibi şablon işlemlerini kendimiz eklememiz gerekiyor, böylece admin areasında ana uygulamadan farklı bir tema kullanabiliriz.
</p>

