
@{
}

<h1>
    Model Binding - Model Kullanımı
</h1>

<h3>Model Kullanım Adımları</h3>

<ol>
    <li>Models klasörüne class ekleyip içine property lerini tanımlıyoruz</li>
    <li>Controller da bir action açıp sayfa oluşturduk</li>
    <li>Sayfada model kullanabilmek için en üstte 1 tane @@ işareti ve küçük harfle model class adını belirttik.</li>
    <li>Sayfada modeli kullanmak için büyük harfle model yazıp .deyip classın property lerine eriştik</li>
    <li>Sayfada model kullandığımızda hata almamak için controller daki get metodunda model class ında bir nesne oluşturup view a yollamalıyız.</li>
</ol>

<a asp-action="KullaniciDetay">
    Kullanici Detay sayfasına git
</a>

<hr />

<a asp-action="AdresDetay">
    Adres Detay sayfasına git
</a>