
@{
    ViewData["Title"] = "MVC13 App Setting";
}

<h1>MVC13 App Setting</h1>
<h1>MVC13 AppSettings.json dan Veri Okuma</h1>

<h5>
    Email : @TempData["Email"]
</h5>

<h5>
    Mail Sunucu : @TempData["MailSunucu"]
</h5>

<h5>
    Kullanici Adi : @TempData["KullaniciAdi"]
</h5>

<h5>
    Kullanici Şifresi : @TempData["Sifre"]
</h5>

