@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>
    .Net Nedir?
</h2>

<p>
    .NET Framework, Microsoft tarafından geliştirilen, açık İnternet protokolleri ve standartları üzerine kurulmuş bir "uygulama" geliştirme platformu. Daha önce Sun Microsystems tarafından geliştirilmiş olan Java platformuna önemli benzerlikler göstermektedir. Buradaki uygulama kavramının kapsamı çok geniştir.
</p>

<h2>
    MVC Nedir?
</h2>

<p>
    ASP.NET MVC Framework "Community Technology Preview", 10 Aralık 2007 tarihinde, Microsoft'un ASP.NET için geliştirdiği Model-view-controller iskeletidir. Bu iskelet ile ASP.NET uygulamaları, Model, View ve Controller rollerine bölünerek geliştiriliyor.Model uygulamanın üzerinde duracağı meseleyi temsil ediyor.
    Kısacası Model View Controller
</p>

<p>
    ASP.NET MVC Framework dışında Asp.net webform teknolojisi ile de web uygulaması geliştirilebiliyor. 
</p>

<h2>
    .NET Core Nedir?
</h2>

<p>
    .NET, Windows, Linux ve macOS işletim sistemleri için ücretsiz ve açık kaynaklı, yönetilen bir bilgisayar yazılımı çerçevesidir. 
    .NET Framework'ün platformlar arası halefidir. 
    Proje, öncelikle Microsoft çalışanları tarafından .NET Vakfı aracılığıyla geliştirildi ve MIT Lisansı altında yayınlandı.
</p>

<h3>
    Dependencies
</h3>

<p>
    Asp.Net Mvc uygulamasının çalışması için gerekli alt yapıyı ve paketleri sağlar.
</p>

<h3>
    Properties
</h3>

<p>
    Asp.Net Mvc uygulamasının çalışması için gerekli ayarları tutan .json dosyasının bulunduğu klasör.
</p>

<h3>
    wwroot
</h3>

<p>
    Web uygulamamızda kullanacağımız css, js dosyaları ve bootstrip, jquery vb kütüphaneleri tutan ayrıca projede kullanacağımız template ve resim, video vb fiziksel dosyaları saklayan klasör.
</p>

<h3>
    
</h3>