
@{
}

<h1>
    Model Validation
</h1>

<p>
    Model class larımızın property lerine boş geçilemez, boş bırakılabilir gibi ayarların yapıldığı işlem.
</p>

<ul>
    <li>
        <a asp-action="YeniUye">
            Yeni Üye Ekle
        </a>
    </li>
    
    <li>
        <a asp-action="UyeListesi">
            Üye Listesi
        </a>
    </li>
</ul>