
@{
}

<h1>MVC de Cookie(Çerez) Kullanımı</h1>

<p>
    Çerezler kullanıcısının cihazında tutulan küçük verilerdir.
    <br />
    Güvenlik gerektiren kullanıcı adı, şifre gibi verileri burada tutmamız sakıncalıdır.
    <br />
    Kullanıcıyı tanımlamak ve sonraki girişlerinde tanıyabilmek için kullanılır.
</p>

<h2>
    Cookie Oluştur
</h2>

<form asp-action="CookieOluştur">
    <input type="text" name="kullaniciAdi" placeholder="Kullanıcı Adı" />
    <input type="password" name="sifre" placeholder="Şifre" />
    <input type="submit" value="Giriş" />
</form>

<a asp-action="CookieOku">
    Cookie Oku
</a>

@Html.Raw(TempData["Mesaj"])