<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - P013AspNetMVCEgitim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/P013AspNetMVCEgitim.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("OzelCss", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">P013AspNetMVCEgitim</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVC01RazorSyntax" asp-action="Index">Razor Syntax</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVC02HtmlAndTagHelpers" asp-action="Index">Html and Tag Helpers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVC03DataTransfer" asp-action="Index">Data Transfer</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVC04ModelBinding" asp-action="Index">Model Binding</a>
                        </li>
                        
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Model Validation
                            </a>

                            <ul class="dropdown-menu">
                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="MVC05ModelValidation" asp-action="Index">Model Validation</a></li>*@
                                @*Normalde yaptığımız şekilde de href'le de çalışır*@
                                <li><a class="dropdown-item" href="/MVC05ModelValidation">Model Validation</a></li>
                                <li><a class="dropdown-item" href="/MVC05ModelValidation/UyeListesi">Üye Listesi</a></li>
                                <li><a class="dropdown-item" href="/MVC05ModelValidation/YeniUye">Yeni Üye Ekle</a></li>
                                @*<li><a class="dropdown-item" href="https://www.google.com/">Google'a Git</a></li>
                                Bu şekilde de doğrudan link'de verebiliriz.*@
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVC06Section" asp-action="Index">Section</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVC07Partial" asp-action="Index">Partial</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVC08ViewResults" asp-action="Index">View Results</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVC09FileUpload" asp-action="Index">File Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVC10Cookie" asp-action="Index">Cookie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVC11Session" asp-action="Index">Session</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">İletişim</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - P013AspNetMVCEgitim - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @await RenderSectionAsync("OzelIcerik", required: false)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
