
@{
}

<h1>
    Section Kullanımı
</h1>
 
<p>
    MVC de view sayfalarından Layout a veri göndermek için kullanırız.
</p>

<section>
    Sayfa içinde bir bölüm
</section>

@section Scripts{
    <script>
        alert("Section Kullanımı ile alert")
    </script>
}