
@{
}

<h1>
    Section Kullanımı
</h1>
 
<p>
    MVC de view sayfalarından Layout a veri göndermek için kullanırız.
</p>

<section>
    Sayfa içinde bir bölüm
</section>

@section Scripts{
   @* <script>
        alert("Section Kullanımı ile alert")
    </script>*@
    <script>
        console.log("Section Kullanımı")
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}

@section OzelIcerik{
    <section class="alert alert-info">
        Sayfa içinde bir bölüm
    </section>
}

@section OzelCss{
    <style>
        body {background-color: yellow; color: red; }
    </style>
}