
@{
}

<h1>MVC Session Kullanımı</h1>

<p>
    Session yapısı sunucu taraflı oturum işlemleri veya veri taşıma yöntemi olarak sayfalar arasında güvenli bir şekilde kullanabileceğimiz nesnelerdir.
</p>

<p>
    Dikkat! Session Kullanabilmek için program.cs de servis olarak eklememiz gerekiyor. direkt cookie gibi kullanamıyoruz.
</p>

<hr />

<h2>
    Session Oluştur 
</h2>

<form asp-action="SessionOluştur">
    <input type="text" name="kullaniciAdi" placeholder="Kullanıcı Adı" />
    <input type="password" name="sifre" placeholder="Şifre" />
    <input type="submit" value="Giriş" />
</form>

<a asp-action="SessionOku">
    Session Oku
</a>

@Html.Raw(TempData["Mesaj"])